Source: openpgp-card-tool
Maintainer: Heiko Schaefer <heiko@schaefer.name>
Uploaders: Lars Wirzenius <liw@liw.fi>
Section: admin
Priority: optional
Standards-Version: 4.2.0
Build-Depends:
 debhelper (>= 10~),
 dh-cargo,
 libclang-dev,
 libpcsclite-dev,
 nettle-dev,
 pkg-config,
Homepage: https://gitlab.com/openpgp-card/openpgp-card

Package: openpgp-card-tool
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Built-Using: ${cargo:Built-Using}
Description: tool to manage OpenPGP hardware tokens
 The opgpcard tool allows you to inspect, configure, administer,
 factory reset, and generally manage OpenPGP cards (hardware tokens),
 such as Gnuk, Yubikeys, Nitrokeys, and similar.
